#announcement_container_div {
	height: 600px;
	box-shadow: 1px 10px 10px 1px #CCCCCC;
}

#announcement_container_div h1 {
	margin-left: 20px;
}

#announcement_container_div #add_announcement_div {
	width: 520px;
	margin: 0 auto;
	text-align: center;
	line-height: 15px;
	display: none;
}

#add_announcement_div form textarea {
	resize: none;
	width: 500px;
	height: 100px;
	margin: -11px auto 5px auto;
	overflow-y: auto; 
}